#numba
scikit-image
seaborn
pandas
numpy
scipy
smop
runtime
#os
#os.path
opencv-python
matplotlib
pathlib
PyQt5
#os-win
#os-sys
syspath
#esmre
cv
cv_utils
cv2studio
Cycler

imageio
ipykernel
ipython_genutils
ipython
ipywidgets
isapi_wsgi


jedi
#Jinja
py-dateutil
decorator
ffmpy
imageio
more-itertools
#mpl-toolkits.clifford
mpl4qt
mpl-tools
mpl-utils
